.timer{
	position: absolute;
	bottom: 0;
	text-align: center;
	font-size: 5vmax;
	color: #333;
	background: -webkit-linear-gradient(#333, #eee);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}