<div class="scores">
	Achievements:
	<div class="badge" ng-show="badges['firstkill']">1st kill</div>
	<div class="badge" ng-show="badges['noErrors']">NO ERRORS</div>
	<div class="badge" ng-show="badges['+40WPM']">40+ WPM</div>

	<br/>
	<br/>
	
	<table>
		<tr>
			<td>Time</td>
			<td>wordCount</td>
			<td>wpm</td>
			<td>errors</td>
			<td>correct</td>
			<td>wrong</td>
		</tr>
		<tr >
			<td>{{scores.timeElapsed | date:"mm:ss:sss"}}</td>
			<td>{{scores.wordCount}}</td>
			<td>{{scores.wpm | number:0}}</td>
			<td>{{scores.errors}}</td>
			<td>{{scores.correctWords.length}}</td>
			<td>{{scores.wrongWords.length}}</td>
		</tr>
	</table>
	
	<br/>
	Last Scores:
	<br/>
	<button ng-click="resetLocalStorageScores()">Reset All Scores</button>
	<table>
		<tr>
			<td>date</td>
			<td>username</td>
			<td>wordCount</td>
			<td>wpm</td>
			<td>errors</td>
			<td>correct</td>
			<td>wrong</td>
		</tr>
		<tr ng-repeat="score in lastScores | orderBy: '[]': true">
			<td>{{score.date | date:'MM/dd/yyyy @ h:mma'}}</td>
			<td>{{score.username}}</td>
			<td>{{score.wordCount}}</td>
			<td>{{score.wpm | number:0}}</td>
			<td>{{score.errors}}</td>
			<td>{{score.correctWords.length}}</td>
			<td>{{score.wrongWords.length}}</td>
		</tr>
	</table>
</div>
