.scores {
	width: 50vw;
	margin-left: 25vw;

}

.badge {
	margin-right: 10px;
	background-color: #FFBF00;
	color: #444;
}

.badge:before {
    content: "";

}

table, th , td {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}